.firstContainer {
    height: auto;
    align-items: center;
    display: flex;
    color: #ffffff;
    z-index: 5;
}

.firstContainerS {
    position:absolute;
    height: auto;
    align-items: center;
    display: flex;
    color: #ffffff;
    z-index: 5;
}

.searchContainerS {
    border: 2px solid rgb(211, 117, 211);
    background: linear-gradient(
        180deg,
        hsl(306deg 100% 40%) 0%,
        hsl(305deg 95% 38%) 17%,
        hsl(303deg 91% 35%) 27%,
        hsl(302deg 88% 32%) 36%,
        hsl(300deg 87% 29%) 45%,
        hsl(298deg 86% 27%) 54%
      );
    backdrop-filter: blur(3.0px);
    border-radius: 50px;
    height: 75px;
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    display: flex;
    align-items: center;
    width: 500px;
    padding:15px;
    justify-content: center;
    
}

.filtros {
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

select {
    font-size: 15px;
}


.filtroYLabel {
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    gap:10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    transition: 0.25s;
    padding: 5px 15px 5px 0px;
    margin-left: 10px;
}

.containerAlfaExist {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 5px;
}

.botonBuscar {
    margin-left: 10px;
    margin-right: 15px;
    outline-style: none;
    border: none;
    border: 1px solid rgb(211, 117, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(
        180deg,
        hsl(306deg 100% 40%) 0%,
        hsl(305deg 95% 38%) 17%,
        hsl(303deg 91% 35%) 27%,
        hsl(302deg 88% 32%) 36%,
        hsl(300deg 87% 29%) 45%,
        hsl(298deg 86% 27%) 54%
      );
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    color:white;
    font-weight: 500;
    transition: 0.25s;
}

.botonBuscar:hover {
    
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.25s;
    color: white;
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 2px, #FFF 0px 0px 2px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 75px;
}

.searchinput {
    
    font-size: 15px;
    background-color: purple;
    border: 2px solid rgb(204, 0, 184);
    border-radius: 5px;
    color:white;
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    outline-style: none;
}

.searchContainer {
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}

.selector {
    width: 150px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    margin-left: 5px;
    outline-style: none;
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    border:2px solid rgb(204, 0, 184);
}


.genreSelector {
    border-radius: 5px;
    width: 150px;
    color: white;
    background-color: #800080;
    margin-left: 5px;
    outline-style: none;
    text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FFF 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 1px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 2px, #FF2D95 0px 0px 10px;
    border:2px solid rgb(204, 0, 184);
}

.sidebar {
    z-index: 6;
    transition:350ms ease-in-out;
    animation:opacityAnimation 1s normal;
    position:absolute;
    top:0px;
    right:120px;
    display:flex;
    height: 350px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        180deg,
        hsl(306deg 100% 40%) 0%,
        hsl(305deg 95% 38%) 17%,
        hsl(303deg 91% 35%) 27%,
        hsl(302deg 88% 32%) 36%,
        hsl(300deg 87% 29%) 45%,
        hsl(298deg 86% 27%) 54%,
        hsl(296deg 86% 24%) 63%,
        hsl(294deg 87% 21%) 72%,
        hsl(292deg 88% 19%) 83%,
        rgba(65, 4, 78, 0)
      );
}

@keyframes opacityAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}
